.ant-modal,
.ant-modal-content {
}

.classroom-code {
    border: 1px solid #eee;
    border-radius: 10px;
    .classroom-code-title {
        margin: 20px;
    }
}

.classroom-code-input {
    margin: 20px;
}

.classroom-code-note {
    margin: 20px;
}

.list-action-btn {
    button {
        margin-right: 10px;
    }
}