.clock-wrapper{
    width:100%;
    background: rgb(255, 255, 255);
    text-align: center;
    padding:15px 10px
}
.clock-container{
    font-size: 35px;
    font-family: Orbitron;
    letter-spacing: 7px;
    color: rgb(0, 0, 0);
}

.question-list-wrapper{
    padding:20px;
}
.question-list-inner{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}